<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>退職願</title>
    <style>
.container {
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-indent: 2em;
  letter-spacing: 0.5em;
}
.margin span {
  margin: 0.25em;
}
.vertical-text {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  line-height: 1.9;
  letter-spacing: -0.2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.your-belonging {
  text-indent: 16em;
  margin-left: auto;
}

.circul {
 height:50px;
 width:50px;
 border-radius:50%;
 line-height:50px;
 text-align:center;
 border-style: dotted;
 opacity: 0.4;
}
    </style>
  </head>
  <body>

  <div class="container">
    <div class="vertical-text">
      <h1>退職願</h1>
      <p style="text-align: right;">私儀</p>
      <p>
      <span>このたび一身上の都合により、{{.taishokuDate}}をもって<br>
        退職いたしたくここにお願い申し上げます。<br>
        {{.today}}
      </span>
      </p>

      <div class="your-belonging margin">
        <div>
          <span>{{.department}}</span>
          <span>{{.team}}</span>
        </div>
        <div>
          <span>{{.yourName}}</span>
          <span class="circul">
            <span>印</span>
          </span>
        </div>
      </div>

      <div class="your-company margin">
        <div>
          <span>{{.company}}</span>
        </div>
        <div>
          <span>{{.president}}</span>
          <span>{{.presidentName}}殿</span>
        </div>
      </div>
    </div>
  </div>

  </body>
</html>
